In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv("titanic_dataset.csv")
df_dropna = df.dropna()
print(df_dropna)

Empty DataFrame
Columns: [pclass, survived, name, gender, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []